{{> ../../partials/globals/head title="Queens Web Design | Features of a Great Small Business Website" description="Characteristics and features of an effective small business website for local businesses in Queens and Long Island." name="article" article="true" hasAds="true"}}

<div class="main-container">
    {{> ../../partials/components/articles/features-of-a-website}}

    {{> ../../partials/globals/footer}}
</div>

{{> ../../partials/globals/closing }}