<section class="text-center" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Web Design, Logo Design, SEO and Mobile App Development in Queens</h1>
                <p class="lead">
                    Specializing in providing small businesses in Queens and Long Island with affordable digital website
                    and design services. <br><br>

                    Call us at {{> ../../globals/phone-link}} and mention this webpage and receive an exclusive savings on any of our services. See details below.
                </p>
                
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable feature-large space--sm bg--lightGray border-top">
    <div class="imageblock__content col-lg-6 col-md-12 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="/images/services/web-design-process.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <h2>Web Design & Development</h2>
                <p>
                    Whether you own a large company, run a small business or are self-employed, every local business needs a website. All new websites include <span class="modal-instance"><a href="#" class="modal-trigger" data-modal-index="0">complete setup and launch</a></span>, <span class="modal-instance"><a href="#" class="modal-trigger" data-modal-index="1">custom design</a></span>, compatibility will all modern devices and many professional <span class="modal-instance"><a href="#" class="modal-trigger" data-modal-index="2">out of the box features</a></span>. Our small business website package is tailored specifically for local businesses in Queens or Long Island.
                </p>
                <div class="boxed boxed--border bg--gray boxed--lg">
                    <p class="type--bold">
                        Call us at {{> ../../globals/phone-link}} and mention this webpage and receive a <span class="color--primary">$200 credit</span> towards any new small business website.
                    </p>
                </div>
                <p>
                    Not sure if your small business needs a website? <a href="/articles/why-every-business-needs-a-website.html" class="type--underline" target="_blank"><br>Learn why every small business needs a website
                </p>
                <p>Read about <a href="/articles/web-design-process.html" class="type--underline" target="_blank">our website creation process</a> and what makes a <a href="articles/features-of-a-great-small-business-website.html" class="type--underline" title="Queens Web Design - Features of a Great Small Business Website" target="_blank">great small business website</a> </p>
               
                
                
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable switchable--switch feature-large space--sm bg--lightGray">
    <div class="imageblock__content col-lg-6 col-md-12 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="/images/services/mobile-phone.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <h2>Mobile App Development</h2>
                <p>
                    Have an idea for the next great mobile app? From making your original idea come to life to getting your mobile app in the app store, our team of mobile app developers in Queens and Long Island ensures that we not only meet your business goals but also exceeds expectations of your audience. We strategize, design & develop mobile apps for both Android & iOS devices.
                </p>
                <div class="boxed boxed--border bg--gray boxed--lg">
                    <p class="type--bold">
                        Need the same app for both Android and iOS? Call us at {{> ../../globals/phone-link}} and mention this webpage and receive a very <span class="color--primary">EXCLUSIVE DISCOUNT</span> towards your mobile app project.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable feature-large space--sm bg--lightGray">
    <div class="imageblock__content col-lg-6 col-md-12 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="/images/services/website-devices.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <h2>Website Support & Maintenance</h2>
                <p>
                    Your business website is probably the most important tool you have that that connects your business to your customers so it's crucial it stays stay up to date with the latest information, content, software updates and is providing the best possible user experience. We offer both monthly maintenance plans and as-needed services in which we will perform all content updates, install software upgrades, fix website issues, enhance/improve existing functionality, update the design and perform site backups.
                </p>
                <div class="boxed boxed--border bg--gray boxed--lg">
                    <p class="type--bold">
                        Call us at {{> ../../globals/phone-link}} and mention this webpage and receive a <span class="color--primary">10% OFF</span> towards any new monthly website support and maintenance plan.
                    </p>
                </div>
                
                <p>
                    <span class="type--bold block">We Develop Websites for Labor Unions.<br></span>
                    Learn about our <a href="/services/union-websites.html" title="Website for labor unions in Queens and Long Island">special website development and maintenance services</a> tailored specifically for labor unions in Queens and Long Island.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable switchable--switch feature-large space--sm bg--lightGray">
    <div class="imageblock__content col-lg-6 col-md-12 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="/images/services//creative-design.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <h2>Logo & Graphic Design</h2>
                <p>
                    Need a company logo for your business that won't break your budget? We not only provide logo design at affordable rates but also offer full graphic design services for all your business needs. These include creating custom graphics, illustrations, business cards, brochures, print collateral, animated banner ads, social media graphics, digital presentations, explainer videos, CD-ROMs & DVDs, video/audio production, motion graphics, screen savers and more.
                </p>
                <div class="boxed boxed--border bg--gray boxed--lg">
                    <p class="type--bold">
                        Call us at {{> ../../globals/phone-link}} and mention this webpage and receive a <span class="color--primary">$300 DISCOUNT</span> when you package both a new logo design and along with a new website.
                    </p>
                 </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable feature-large space--sm bg--lightGray">
    <div class="imageblock__content col-lg-6 col-md-12 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="/images/services/online-marketing.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <h2>SEO & Digital Marketing</h2>
                <p>
                    Do you want to increase the quantity and quality of the traffic to your site and improve your Google search ranking? We offer various SEO strategies and digital marketing services such as keyword and competition research, optimizing your page headlines and titles, content creation to ensure it's showcasing the proper keywords, auditing your site to ensure it's coded to web standards, social media management and promotion, email marketing, landing page creation and copywriting. Both monthly SEO and digital marketing packages and as-needed services are available.
                </p>
                <div class="boxed boxed--border bg--gray boxed--lg">
                    <p class="type--bold">
                        Call us at {{> ../../globals/phone-link}} and mention this webpage and receive a <span class="color--primary">$200 credit</span> on any new monthly SEO or digital marketing service plan.
                    </p>
                </div>
          
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="text-center border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta">
                    <h2 class="color--primary">Why Work With Queens Web Design?</h2>
                    <p class="lead">
                      We pride ourselves in delivering digital solutions for local businesses in Queens and Long Island. We love local businesses and our goal is to help build, improve and promote them the best way we can.<br><br>

                      With years of experience we can assist you in building a beautiful, modern website, an interactive mobile app, a one of a kind logo or any other powerful online, digital marketing solution.<br><br>
                      
                      Call us at {{> ../../globals/phone-link}} or <a href="mailto:{{> ../../globals/email-address }}">email us</a> to see how Queens Web Design can offer your business. <br>Client references available upon request.
                    </p>
                  
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{{> services-modals}}