<section class="text-center height-50">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8">
                <h1>Web Design, Logo Design and <br>Mobile App Development in Queens</h1>
                <p class="lead">
                    From a team of passionate creators working side-by-side with our partners to deliver engaging
                    digital and physical campaigns.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>