<section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="article__title text-center">
                                    <h1 class="h2">Features of a Great<br> Small Business Website</h1>
                                    <span class="article__date">Updated September 24, 2019</span> —
                                    <span>
                                        <a href="/services" title="Queens Web Design Services">Web Design</a>, 
                                        <a href="/services" title="Queens Web Development Services">Web Development</a>
                                    </span>
                                </div>
                        <div class="col-md-10 col-lg-8">
                            <article data-hashtags="webDesign,SEO,marketing,smallBusiness,queens,longIsland">
                                
                                <!--end article title-->
                                <div class="article__body">
                                   <img alt="woman in coffee shop" src="/images/services/website-mockups.jpg">

                                    {{> includes/website-features-list}}   
                                 
                                
                            </article>
                            <div class="row justify-content-center">
                                <div class="col-12 mb--1 boxed boxed--border bg--lightGray boxed--lg box-shadow">
                                    <p class="h3">This list only scratches the surface of what can be done to create a high-impact, effective website.
                                        If you would like to learn how <span class="type--bold">Queens <span class="color--primary">Web</span> <span class="color--secondary">Design</span></span> can help your business build a stand-out website, call us today at {{> ../../globals/phone-link}}</p>
                                        </div>
                                    {{> includes/social-sharing}}
                                    </div>
                               </div>
                             
                            <!--end item-->
                            {{> includes/sidebar}}
                        </div> 
                        <!--end of row-->
                        
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{{> includes/bottom-cta-horizontal}}             