<section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <article data-hashtags="webDesign,socialmedia,marketing,smallBusiness,queens,longIsland">
                                <div class="article__title text-center">
                                    <h1 class="h2">Web Design Process</h1>
                                    <h2 data-social-title>4 Simple Steps of Success for your Business</h2>
                                    <span class="article__date">Updated October 7, 2019</span> —
                                    <span>
                                        <a href="/services" title="Queens Web Design Services">Web Design</a>, 
                                        <a href="/services" title="Queens Web Development Services">Web Development</a>
                                    </span>
                                </div>
                                <!--end article title-->
                                <div class="article__body">

                                   <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                                                        <div class="process__number inline-block"><span>1</span></div>
                                                        <i class="icon icon-Light-Bulb color--primary block"></i>
                                                        <h3 class="type--bold color--primary">Discovery</h3>
                                                        <p>
                                                            The process begins with gathering requirements and learning about the goals your business has for creating a website. We learn about the features and functionality you need, get input from you regarding design and research your competitive landscape. The project will start with a prepared proposal to align expectations, define features and the level of work and outline costs and duration.
                                                        </p>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                                                         <div class="process__number inline-block"><span>2</span></div>
                                                        <i class="icon icon-Pencil-Ruler color--primary block"></i>
                                                        
                                                        <h3 class="type--bold color--primary">Design</h3>
                                                        <p>
                                                           In this phase we will work on the overall look and feel and user experience of the website in which we will define colors, fonts, graphics, icons and usability. Static mockups of some of the site's main pages will be created for you to review and provide any feedback on, which we will then incorporate into the mockups. Once the mockups are approved, we will begin developing the website.
                                                        </p>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                                                         <div class="process__number inline-block"><span>3</span></div>
                                                        <i class="icon icon-Code-Window color--primary block"></i>
                                                        <h3 class="type--bold color--primary">Development</h3>
                                                        <p>
                                                            The actual building and coding of the website occurs during this stage in which we bring your vision to life. During this phase we will incorporate all of your website content (text, images, videos, etc.) into the corresponding pages. Typically this phase takes the longest to complete but rest assured we will keep you up-to-date on the progress. Once everything is built and working, a preview link will be sent to you to review and validate. 
                                                        </p>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                                                        <div class="process__number inline-block"><span>4</span></div>
                                                        <i class="icon icon-Server color--primary block"></i>
                                                        <h3 class="type--bold color--primary">Launch</h3>
                                                        <p>
                                                            Once you approve the preview link and give us the green light, we'll prepare to launch the site. We'll configure your web host, domain name and any other configurations and then move your website files to your hosting server. Once it is live, we'll immediately make sure everything is running smoothly and we'll provide information on how to use your Content Management System so you can easily perform content updates to the site.
                                                        </p>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                         
                                            </div>
                                             
                                            <!--end of row-->
                                        </div>
                                          <h3 class="color--primary mt--1">Now sit back and watch your website work for you!</h3>
                                    </div> 
                                 
                               
                                {{> includes/social-sharing}}
                            </article>
                           
                             
                            <!--end item-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{{> includes/bottom-cta-horizontal-pic}}