<section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="article__title text-center">
                                    <h1 class="h2">Why Every Small Business<br> Needs A Website</h1>
                                    <span class="article__date">Updated June 23, 2019</span> —
                                    <span>
                                        <a href="/services" title="Queens Web Design Services">Web Design</a>
                                    </span>
                        </div>
                        <div class="col-md-10 col-lg-8">
                            <article data-hashtags="webDesign,socialmedia,marketing,smallBusiness,queens,longIsland"> 
                                
                                <!--end article title-->
                                <div class="article__body">
                                    <img alt="woman in coffee shop" src="/images/lifestyle/woman-in-coffee-shop.jpg">
                                    <p>
                                       It's safe to say that we live in a world where it's assumed that pretty much anything can be found online. Whether it's to figure out where you've seen a familiar looking actor in a movie, check out the menu of a new restaurant you're going to or just to find out general information about a company, most of us turn to the web. Let's face it, many people don't even own a copy of the Yellow Pages anymore and the ones that do aren't running to find it when they need to find out about a business. These days when someone is looking for something or more like looking for you and your business, they go online.
                                    </p>
                                    <p>So does this mean all businesses should absolutely have a website? Yes, whether you own a business, work for yourself in any capacity or provide paid services to the public in some shape or form, you need to have a website.</p>
                                    <h5>Common misconceptions determining if a business needs a website</h5>
                                    <p>
                                        First off, the size of your company doesn't matter. Regardless if you're a one-man show or a have hundreds of employees, size truly has no bearing when it comes to the benefits of getting your business online. Many small business owners often think that since majority of their business comes from local clientele, having a website isn't really necessary. Some of these small, local businesses have been in business for a very long time and have been doing extremely well without a website. In many cases that's absolutely true and I can't fault them for thinking that way, but I can only imagine how much even better they could be doing if they actually did have a website.
                                    </p>
                                    <p>Another prevailing thought is that it doesn't make much sense to have a website if your business isn't actually selling something online. Whether you have an actual tangible product that you plan on selling online or not is irrelevant. These are all huge misconceptions because the bottom line is that it comes down to exposure. Developing a website for your business is the easiest, most efficient and affordable way to get your name out there. Let's take a look at how having a website for even the smallest business can be beneficial.</p>
                                    <blockquote>
                                        “ Having a website automatically creates legitimacy and validates your business in the mind of clients. To the public this creates confidence that you're a real, functioning company that is currently doing business. ”
                                    </blockquote>
                                    <figure class="col-6 pull-right">
                                        <img alt="laptop on desktop displaying food website" src="/images/services/restaurant-website.jpg">
                                        <figcaption>Credit: Igor Miske (via Unsplash)</figcaption>
                                    </figure>
                                    <h5>Benefits of having a website for your business</h5>
                                    <p>
                                        For any business, staying relevant among today's tech-savvy consumers is paramount. Not only does a website help promote your business but it serves as a means for you to be found by customers. Once you have a website you immediately stop being invisible to all the potential customers trying to find you online. And whether you know it or not, being invisible as a business in this on-demand, information age is costing you money.
                                    </p>
                                    <p>
                                        Here are some key benefits to having a website for your small business:
                                    </p>
                                    <h5>You create another marketing tool.</h5>
                                    <p> Do you have a business card for your company? Obviously that's a no brainer, of course you do. Just like how you would make sure you get business cards made for your company, creating a website should also be an obvious must-have. A website will be one of your most powerful sales and communication tools for your company, allowing potential clients to quickly and easily find out more about the products and services you have to offer. Think of a website as a brochure for your company that is constantly kept up to date and always available to anyone and everyone.</p>

                                    <h5>You create a place for information and communication.</h5>
                                    <p>Besides being a sales vehicle, a website is your company's home turf so to speak for everything having to do with your business. It's the primary place where people will go for trusted information about your business, to voice concerns and have their questions answered. Whether it's your current customers, the ones you hope to attract, potential employees or even business partners, a website is your business's greatest communication tool. Even if it's two o'clock in the morning, if someone wants to know something about your business, they will look for answers, and your website will be the place they go. Also, any information about your business read directly from your own website is valued more as opposed to information ascertained about it from somewhere else like another website.</p>

                                    <h5>You add legitimacy to your business.</h5>
                                    <p>Having a website automatically creates legitimacy and validates your business in the mind of clients. To the public this creates confidence that you're a real, functioning company that is currently doing business. Conversely, if someone looks for your business online and sees you don't have a website their confidence in your business will wane to say the least. This might imply to the average web user, that you're not a serious business, can't afford a website or that your company is old-fashioned.</p>

                                    <h5>Allows you to keep up and stay ahead with your competition.</h5>
                                    <p>If you're a small business and you're competing with other small businesses in your local area, many of them might be in the same boat as you and don't have a website. That's all the more reason for you to get one and stay a step ahead. But if any of your competitors do have a website and you don't, you're losing business to them plain and simple.</p>

                                    <p>Having a website though can help level the playing field between your business and with the bigger companies that you normally wouldn't be able to compete with. One of the nice things about the internet is that a potential customer can just as easily find your small business's website as it can with a website belonging to a huge national chain. Imagine you're a local hardware business that is a few miles away from a Home Depot. Now, if a local customer searches online where in the area they could purchase a certain home improvement product, wouldn't you like your chances that they might stumble on your business if you had a website?</p>

                                    <h5>Best bang for your buck advertising tool.</h5>
                                    <p>A website provides more exposure for your money than any other form of advertising. For the average small business owner, the cost of a local radio or television commercial is just not affordable unless it is aired when vast majority of the targeted audience is sleeping. Local newspaper ads can be reasonably priced, but doesn't have the reach or impact they once did. Print news is an industry that's been on the decline since most people are getting their news for free online. With a website, there are no space constraints in detailing and marketing your products, and you are able to interact and truly engage with your customers something that really can't be done with these other forms of advertising. Also in terms of cost, after the initial investment to design and build the site, the annual expense for hosting and maintenance is a fraction of the outlay many small businesses throw at local advertising throughout the year.</p>

                                    <h5>Conclusion</h5>
                                    <p>So after all that, does it still mean every website should have a website? And the answer is still yes! But it doesn't mean that it has to be an expensive undertaking. A website doesn't need to be big, highly technical, or break the bank in order for it to benefit your company. Even the simplest website that is professionally designed and contains well thought out content can easily benefit any business. But before you can even think about designing your site, you have to take the first step, which is realizing that your business does in fact need one.</p>

                                    {{> includes/end-article-text}}   
                                    
                                </div>
                                {{> includes/social-sharing}}
                            </article>
                            <!--end item-->
                        </div>
                        {{> includes/sidebar}}
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{{> includes/bottom-cta-horizontal}}        