<section class="text-center imagebg space--lg" data-overlay="6">
                <div class="background-image-holder max-scale">
                    <img alt="background" src="/images/lifestyle/coworkers.jpg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <h1>Partner With Us</h1>
                            <p class="lead">
                                Seeking reliable, honest and innovative partners to assist with web development and mobile app projects.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</section>
<section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>How to become a partner...</h2>
                            <p class="lead">
                                Send us an {{> ../../globals/mailto subject="Outsource Partner Application"}} and include the following:
                            </p>
                              <ol class="lead">
                                    <li>Expertise or services you offer (web development, e-commerce, mobile apps, logo design, etc.).</li>
                                    <li>Examples of your work.</li>
                                    <li>References: names and contact information of clients you have done work with and are currently partnering  with.</li>
                                    <li>Title the subject of the email: "Outsource Partner Application"</li>
                                </ol>
                            <p class="lead type--bold">Please note: due to the volume of partner requests and solicitations, submissions not in this format and does not include this information will not be reviewed.</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>