<section class="imagebg height-80 parallax" data-overlay="7" id="hero">
                <div class="background-image-holder background--top">
                    <img alt="image" src="/images/lifestyle/lirr-railroad-train.jpg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Websites for Workers Unions</h1>
                                <h2>Web design, website maintenance and email blasts for the hardworking workforces that power NYC and Long Island.</h2>
                                <p class="lead"> Call us at {{> ../../globals/phone-link}} or {{> ../../globals/mailto}} us to learn more.</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="text-center">Service and reliability first.</h2>
                <p class="lead">
                   Just how your local serves and is relied upon by the community, our goal is to provide you with the same exceptional service and reliability. We'll completely handle managing and supporting your union's website, while you can focus on the dynamic needs of your local.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 text-center">
                <div class="video-cover box-shadow border--round">
                    <img alt="image" src="/images/work/brs56-large.jpg">
                <!--end video cover-->
                <span class="pos-relative color--white">Website redesign for Brotherhood of Railroad Signalmen Local 56</span>
            </div>
        </div>
        <!--end of row-->
        <div class="row mt--1 blockquote">
                <div class="col-lg-12">
                        <hr class="short">
                        <blockquote>Rapidly distribute messages, documents, and time sensitive information directly to your members.</blockquote>
                </div>
            </div>
    </div>
    <!--end of container-->
</section>
<section class="feature-large feature-large-2 bg--lightGray">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6 col-lg-3">
                <h3>Designed for your Members</h3>
                <p>More than just your website designer, our website services geared specifically for labor unions is a partnership in supporting your local's mission and reaching your members.</p>
                <hr class="short">
                <h3>Standing in Solidarity</h3>
                <p class="lead">
                    We have formed long lasting partnerships with various LIRR workers’ unions to manage and grow their websites and digital platforms enabling them to expand their reach in communicating and negotiating on a daily basis.
                </p>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="pos-relative bg--white"  id="client-logos">
                    <a href="http://railroadsignalmen.org" target="_blank"><img alt="Image" class="border--round pos-absolute" src="/images/client-logos/brs56.png" id="brs56"></a>
                    <hr class="pos-absolute">
                    <a href="http://ibew589.org" target="_blank"><img alt="Image" class="border--round pos-absolute" src="/images/client-logos/ibew589.png" id="ibew589"></a>
                </div>
                <span class="inline-block mt--1">BRS Local 56 and IBEW Local 589 are two labor unions that have partnered with Queens Web Design for web development and maintenance.</span>
                
                
            </div>
            <div class="col-lg-2">
                
                <hr class="short">
                <p>Typical Monthly Plan includes:</p>
                <ul>
                    <li>All content updates: text, photos, video, job postings, union forms, news, etc.</li>
                    <li>Email and news blasts</li>
                    <li>Basic new page creation and news postings</li>
                    <li>Basic design, layout and functionality fixes</li>
                    <li>Software upgrades and patches</li>
                </ul>
                <p>For more details and pricing call us at <br> {{> ../../globals/phone-link}}<br> and mention this webpage.</p>
            </div>
            
        </div>
        <!--end of row-->
        
    </div>
    <!--end of container-->
</section>