<ul class="articles-list">
    <li><a href="/articles/web-design-process.html" class="type--underline"
            title="Queens Web Design - Website Process">4 Step Web Design Process For Business Success</a></li>
    <li><a href="/articles/why-every-business-needs-a-website.html" class="type--underline"
            title="Queens Web Design - Why Every Small Business Needs A Website">Why Every Small Business Needs A
            Website</a></li>
    <li><a href="/articles/features-of-a-great-small-business-website.html" class="type--underline"
            title="Queens Web Design - Features of a Great Small Business Website">Features of a Great Small Business
            Website</a></li>
    <li><a href="/articles/seo-101.html" class="type--underline"
            title="Queens Web Design - How Your Business Can Benefit From SEO">How Your Business Can Benefit From
            SEO</a></li>
</ul>