<footer class="footer-6 unpad--bottom unpad--top bg--dark" id="footer">
    <div class="container footer__top">
        <div class="row">
            <div class="col-md-12 col-lg-3 space--xs">
                <h6 class="type--uppercase">About Queens Web Design</h6>
                <p>
                    Queens Web Design is a web design provider offering affordable website design, logo design, website
                    maintenance and mobile app development for Queens and Long Island small businesses.
                </p>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 space--xs">
                <h6 class="type--uppercase">Quick Links</h6>
                <ul class="list--hover mb-0 visible-xs">
                    <li>
                        <a href="http://queenswebdesignandgraphics.com/" title="Queens Web Design">Home</a>
                    </li>
                    <li>
                        <a href="/#about" title="About Queens Web Design">About</a>
                    </li>
                    <li>
                        <a href="/#services" title="Queens Web Design Services">Services</a>
                    </li>
                    <li>
                        <a href="/#work" title="Queens Web Design Examples of Work">Our Work</a>
                    </li>
                    <li>
                        <a href="/#contact" title="Contact Queens Web Design">Get a FREE Quote</a>
                    </li>
                </ul>
                <ul class="list--hover">
                    <li>
                        <a href="/articles/web-design-process.html" title="Queens Web Design Website Process">Queens Web
                            Design Process</a>
                    </li>
                    <li>
                        <a href="/articles/features-of-a-great-small-business-website.html"
                            title="Queens Web Design Features of a Small Business Website">Features of a Small Business
                            Website</a>
                    </li>
                    <li>
                        <a href="/articles/why-every-business-needs-a-website.html"
                            title="Queens Web Design - Why Every Small Business Needs a Website">Why Every Small
                            Business Needs a
                            Website</a>
                    </li>
                    <li>
                        <a href="/partners" title="Become An Outsource Partner">Become A Partner</a>
                    </li>
                    <li>
                        <a href="/web-design-tutor.html" title="Web Design Instruction in Queens and Long Island">Web
                            Design and Coding Lessons</a>
                    </li>
                    <li>
                        <a href="/services/union-websites.html"
                            title="Websites for Workers Unions in Queens and Long Island">Websites for Workers Unions in
                            Queens and Long Island</a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 space--xs">
                <h6 class="type--uppercase">Our Network</h6>
                {{> network-links class="list--hover"}}

            </div>
            <div class="col-md-4 col-lg-3 space--xs">
                <h6 class="type--uppercase">Join Our Email List</h6>
                {{> mailing-list-discount}}
                {{!-- {{> signup-form}} --}}
                <a class="btn btn--lg btn--primary type--uppercase" href="http://eepurl.com/bKbCgn"
                    target="_blank"><span class="btn__text">Sign-up!</span></a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div class="footer__lower text-center-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="type--fine-print">©
                        <span class="update-year">2019</span> Queens Web Design — Some Rights Reserved</span>
                </div>
                <div class="col-md-6 text-right text-center-xs">
                    <ul class="social-list list-inline list--hover">
                        <li>
                            <a href="http://twitter.com/QueensWebDesign" title="Queens Web Design on Twitter">
                                <i class="socicon socicon-twitter icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/queenswebdesign" title="Queens Web Design on Facebook">
                                <i class="socicon socicon-facebook icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/2311183" title="Queens Web Design on LinkedIn">
                                <i class="socicon socicon-linkedin icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://queenswebdesignandgraphics.blogspot.com/"
                                title="Read Queens Web Design Blog">
                                <i class="socicon socicon-blogger icon icon--xs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
</footer>