<div class="bar bar--sm visible-xs" id="mobile-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    {{> logo}} 
                    <a href="#" class="hamburger-toggle" data-toggle-class="#qwdNav;hidden-xs hidden-sm">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
                
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
</div>