<ul class="menu-horizontal text-left">
    {{!-- <li><a href="#">Home</a></li> --}}
    <li class="dropdown">
        <a class="dropdown__trigger">Services</a>
        {{!-- <span class="dropdown__trigger">Services</span> --}}
        <div class="dropdown__container">
            <div class="container">
                <div class="row">
                    <div class="dropdown__content col-lg-2 col-md-4">
                        <ul class="menu-vertical">
                            <li><a data-scroll href="/#services" title="Queens Web Design and Web Development Services">Our Services</a></li>
                            <li><a href="/mobile-app-design" title="Mobile App Design in Queens">Mobile Apps</a></li>
                            <li><a href="/services/union-websites.html" title="Queens Web Design - Website Maintenance">Websites for Unions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end dropdown container-->
    </li>
    <li><a href="/#affordable-websites" data-scroll data-mobile-name="Affordable Sites" title="Affordable Websites in Queens and Long Island">Affordable Websites</a></li>
    <li><a href="/#work" data-scroll title="Queens Web Design Examples of Work">Work</a></li>
    <li class="dropdown">
        <a class="dropdown__trigger">About</a>
        <div class="dropdown__container">
            <div class="container">
                <div class="row">
                    <div class="dropdown__content col-lg-4 col-md-6">
                        <ul class="menu-vertical">
                            <li><a data-scroll href="/#about" title="About Queens Web Design">About Queens Web Design</a></li>
                            <li><a href="/articles/web-design-process.html" title="Queens Web Design Process">Web Design Process</a></li>
                            <li><a href="/articles/why-every-business-needs-a-website.html" title="Queens Web Design - Why Every Small Business Needs a Website">Why Every Small Business Needs a Website</a></li>
                            <li><a href="/articles/features-of-a-great-small-business-website.html" title="Queens Web Design - Features of a Great Small Business Website">Features of a Great Small Business Website</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end dropdown container-->
    </li>
    <li><a href="/#contact" data-scroll title="Contact Queens Web Design">Contact Us</a></li>
</ul>