 <ul class="{{class}}">
            <li>
                <a href="http://queenslongislandwebdesign.com/" title="Queens Long Island Web Design">Queens
                    Long Island Web Design</a>
            </li>
            <li>
                <a href="http://longislandwebdesignandgraphics.com/" title="Long Island Web Design">Long Island
                    Web Design</a>
            </li>

            <li>
                <a href="http://newyorkinteractivedesign.com/" title="Software and App Developer in NY">NY
                    Interactive Design</a>
            </li>
            <li>
                <a href="http://eastislipwebdesign.com/" title="Web Designer in East Islip">East Islip Web
                    Design</a>
            </li>
            <li>
                <a href="http://www.webanimationpro.com/" title="NY Web Banner Designer">Web Banner and
                    Animation Design</a>
            </li>
</ul>