<section class="bg--primary unpad cta cta-2" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="extra-bold semi-heading">Queens Web Design is a web design company in Queens, NY specializing
                    in providing local businesses with affordable websites and mobile apps offering web development,
                    graphic design, SEO and other digital creative services.</h2>
                <p class="text-center">
                    <a class="btn btn--lg btn--secondary type--uppercase" href="#contact" data-scroll
                        title="Get A Free Quote">
                        <span class="btn__text">Get A Free Quote</span>
                    </a>
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>