<section class="feature-large imagebg" data-gradient-bg="#1f769a,#398d93|#61b189,#92dd7c" id="affordable-websites">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-7 col-12">
                <h2 class="extra-bold semi-heading">Affordable Websites <br>For Small Businesses!</h2>
                <p class="lead">
                    Boost your business to the next level with our <span class="extra-bold">SPECIAL PRICING</span>
                    website package for Queens and Long Island small businesses.
                </p>
                <p>Call {{> ../../globals/phone-link}} or {{> ../../globals/mailto subject="Affordable Website Offer"}} us
                    to get more information on this offer.</p>
            </div>
            <div class="col-md-5 col-12">
                <img src="/images/computer-rocket-ship.png" alt="">
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>