<section class="imagebg text-center" id="home">
      <div class="background-image-holder">
          <img alt="background" src="/images/queens-web-design-static-food-truck-2.png" data-theme="sky__theme--food-truck"/>
          <img alt="background" src="/images/queens-web-design-storefront.png" data-theme="sky__theme--storefront"/>
          {{!-- <div data-theme="sky__theme--storefront">
                {{> storefront-scene}}
          </div> --}}
      </div>
      <div class="container hero-message">
          <div class="row">
              <div class="col-12">
                  <h1>Queens <span class="color--primary">Web</span> <span class="color--secondary">Design</span></h1>
                  <h2>Websites. Apps. Graphics</h2>
                  <div class="typed-headline">
                        <span class="inline-block">Your one-stop local shop for</span>
                        <span class="inline-block typed-text typed-text--cursor color--primary" data-typed-strings="websites., mobile apps., logo design., SEO., web design., graphic design., online marketing., affordable websites., animation., digital creativity., small business websites."></span>
                  </div>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
</section>
