<section id="services">
    <div class="container">
        <div class="row justify-content-center heading-block text-center">
            <div class="col-md-9">
                <h2>Our Services</h2>
                <p class="lead">
                    Whether you’re in need of a website, mobile app or graphic design, Queens Web Design has all of
                    your web and digital creative needs covered.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Digital-Drawing"></i>
                    <h4 class="paytone">Websites</h4>
                    <p>
                        Our website creation services range from simple small business websites to full featured
                        ecommerce websites using the latest web technology that works and looks beautiful on any device.

                    </p>
                    <a class="btn btn--sm" href="#contact" data-scroll title="Queens Web Design Website Development Services">
                        <span class="btn__text">Get a FREE Quote</span>
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Tablet-Phone"></i>
                    <h4 class="paytone">Mobile Apps</h4>
                    <p>
                        Have an idea for the next great mobile app? We offer complete mobile app design and development
                        for both iOS and Android along with helping you get your app into the app stores.
                    </p>
                    <a class="btn btn--sm" href="#contact" data-scroll title="Queens Web Design Mobile App Services">
                        <span class="btn__text">Get a FREE Quote</span>
                    </a>
                    {{!-- <span class="label">New</span> --}}
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Pencil-Ruler"></i>
                    <h4 class="paytone">Logo Design</h4>
                    <p>
                        Our full range of graphic design services includes creating business logos, custom graphics and
                        illustrations and various other marketing designs and collateral for print and social media.
                        {{!-- <a data-scroll href="#services">Scroll to box below</a> --}}
                    </p>
                    <a class="btn btn--sm" href="#contact" data-scroll title="Queens Web Design Logo Design Services">
                        <span class="btn__text">Get a FREE Quote</span>
                    </a>
                </div>
                <!--end feature-->
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Settings-Window"></i>
                    <h4 class="paytone">Website Maintenance</h4>
                    <p>
                        Complete website management from text and image updates to new page creation to complete
                        technical support. We offer both monthly plans and on an as-needed basis.
                    </p>
                    <a class="btn btn--sm" href="#contact" data-scroll title="Queens Web Design Website Maintenance Service">
                        <span class="btn__text">Get a FREE Quote</span>
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Paper-Plane"></i>
                    <h4 class="paytone">Animation & Multimedia</h4>
                    <p>
                        Web animation, web banner ads, HTML5 games, digital presentations, explainer videos, CD-ROM & DVD creation,
                        video/audio production, motion graphics, screen savers and more.
                    </p>
                    <a class="btn btn--sm" href="#contact" data-scroll title="Queens Web Design Animation and Multimedia Services">
                        <span class="btn__text">Get a FREE Quote</span>
                    </a>
                    {{!-- <span class="label">New</span> --}}
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Idea-2"></i>
                    <h4 class="paytone">SEO & Digital Marketing</h4>
                    <p>
                        SEO strategies and services to help increase your search engine ranking and promote your business such as social media management, email marketing, landing page creation, content writing, web analytics and more.
                    </p>
                    <a class="btn btn--sm" href="#contact" data-scroll title="Queens Web Design Digital Marketing Services">
                        <span class="btn__text">Get a FREE Quote</span>
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>