{{> hero-elements/cloud id="cloud-1"}}
{{> hero-elements/cloud id="cloud-2"}}
{{> hero-elements/cloud id="cloud-3"}}
{{> hero-elements/cloud id="cloud-4"}}
<div class="scene">
    {{!-- <div class="street-objects"></div> --}}
    <img alt="background" src="/images/storefront-theme-objects.png" id="street-objects"/>
    {{!-- <img alt="background" src="/images/storefront-theme-sidewalk.png"/>
    <img alt="background" src="/images/storefront-theme-street.png"/> --}}

    {{!-- {{> hero-elements/sidewalk}}
    {{> hero-elements/street}} --}}

    <div class="sidewalk"></div>
    <div class="street"></div>
</div>


{{!-- <img alt="background" src="/images/queens-web-design-storefront-no-clouds.png" class="background-image"/> --}}

