<section id="work">
    <div class="container">
        <div class="row justify-content-center heading-block text-center">
            <div class="col-md-12 col-lg-10">
                <h2>Web Design Work</h2>
                <p class="lead">Some examples of the web design and development projects we are
                    grateful to have been a part of. <a href="#contact" data-scroll title="Contact Queens Web Design">Contact us</a> to learn more about
                    our projects.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row masonry--active">
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Long Island Railroad Union Website Design">
                                    <img alt="Long Island Railroad Union BRS56 Website" class="border--round"
                                        src="/images/work/brs56.jpg">
                                </a>
                                <h4>Long Island Railroad Union Website</h4>
                                <p>Web design and website maintenance for Long Island Railroad Union.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Ecommerce Website in Queens">
                                    <img alt="Homepage of A Big Sellers website" class="border--round"
                                        src="/images/work/abigsellers.jpg">
                                </a>
                                <h4>Queens Online Retailer</h4>
                                <p>E-Commerce website development and design for a Queens online retailer.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Restaurant Website Design in Queens">
                                    <img alt="Homepage of Burger King Corporate Website" class="border--round"
                                        src="/images/work/burgerking.jpg">
                                </a>
                                <h4>Fast Food Restaurant Website</h4>
                                <p>Web design, graphic design and animation for corporate fast food website.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Electrician Website Design in Queens">
                                    <img alt="IBEW589 Long Island Railroad Union Website" class="border--round"
                                        src="/images/work/ibew589.jpg">
                                </a>
                                <h4>NYC Electrician Union Website</h4>
                                <p>Web design and website maintenance for Long Island / New York Electrician Union</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Travel Website Design in Queens">
                                    <img alt="4 Points Travel website homepage" class="border--round"
                                        src="/images/work/4pointstravel.jpg">
                                </a>
                                <h4>Travel Agency Web Design</h4>
                                <p>Website design and development for boutique Queens travel agency.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Moving Company Website Design in Queens">
                                    <img alt="Two Girls Many Hats website homepage" class="border--round"
                                        src="/images/work/twogirls.jpg">
                                </a>
                                <h4>Moving Company Web Design</h4>
                                <p>Web design and development for Queens packing and moving company</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Furniture Store Website Design in Queens">
                                    <img alt="Homepage of Prestige Furniture website" class="border--round"
                                        src="/images/work/prestige-furniture.jpg">
                                </a>
                                <h4>Furniture Store Web Design</h4>
                                <p>Website development for Queens furniture store and upholstery company</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Web Design for Newspaper in Queens">
                                    <img alt="Homepage of Queens Tribune and Queens Press websites"
                                        class="border--round" src="/images/work/queens-newspaper-web-design.jpg">
                                </a>
                                <h4>Queens Newspaper Web Design</h4>
                                <p>Website development and content management for Queens newspaper group.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example"
                                    title="Band Websites and Website for Musicians in Queens">
                                    <img alt="Homepage of guitar website" class="border--round"
                                        src="/images/work/guitar-website-design.jpg">
                                </a>
                                <h4>Music Website Design</h4>
                                <p>Web design and graphic design for guitar and musician store.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Website for Non For Profit in Queens">
                                    <img alt="Homepage of Gold Coast International Film Festival website"
                                        class="border--round" src="/images/work/goldcoastfilm.jpg">
                                </a>
                                <h4>Non-Profit Film Festival Website</h4>
                                <p>Web design, development and content management for Queens and Long Island
                                    not-for-profit film festival.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Website for Bakery in Queens">
                                    <img alt="Homepage of Queens bakery website " class="border--round"
                                        src="/images/work/monata.jpg">
                                </a>
                                <h4>Queens Bakery Website Design</h4>
                                <p>Web design, web development and logo design for bakery in Queens.</p>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-4 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Political Website in Queens">
                                    <img alt="Homepage for Kamal Hubbard's website" class="border--round"
                                        src="/images/work/kamalh.jpg">
                                </a>
                                <h4>Website development for Queens Politician</h4>
                                <p>Website design and development for local community official in Queens.</p>
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <a href="/work" class="iconLink iconLink--arrow block" title="View More Queens Web Design Projects"><i class="icon-Code-Window"></i> <span>More Web Design Work</span></a>
                {{!-- <a href="/services/union-websites.html" class="iconLink iconLink--arrow block" title="Web Maintenance Services in Queens"><i class="icon-Monitor-Laptop"></i> <span>Web Maintenance </span></a> --}}
                <a href="/mobile-app-design" class="iconLink iconLink--arrow block" title="Mobile App Design in Queens"><i class="icon-Smartphone-4"></i> <span>Mobile App Work</span></a>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>