{{> ../partials/globals/head title="Queens Web Design and Development Articles" description="Web design and website articles and videos for small businesses in Queens and Long Island" name="thankyou-article-list" article="true" hasAds="true"}}


<div class="main-container">
    <section class="text-center" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>Web Design and Website Articles for Small Businesses in Queens and Long Island</h1>
                    <p class="lead"></p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="masonry">
                        <div class="masonry__container row masonry--active">
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="/articles/features-of-a-great-small-business-website.html"
                                        title="Queens Web Design - Features of a Great Small Business Website"
                                        class="block">
                                        <img alt="" src="/images/services/website-mockups.jpg">
                                    </a>
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Features of a Great Small Business Website</h5>
                                        <a href="/articles/features-of-a-great-small-business-website.html"
                                            title="Queens Web Design - Features of a Great Small Business Website"
                                            class="iconLink iconLink--arrow block">
                                            Read Article
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="/articles/web-design-process.html"
                                        title="Queens Web Design - Web Design Process" class="block">
                                        <img alt="" src="/images/services/website-on-desk.png">
                                    </a>
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Web Design Process: 4 Simple Steps of Success for your Business</h5>
                                        <a href="/articles/web-design-process.html"
                                            title="Queens Web Design - Web Design Process"
                                            class="iconLink iconLink--arrow block">
                                            Read Article
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="/articles/why-every-business-needs-a-website.html"
                                        title="Queens Web Design - Why Every Small Business Needs A Website"
                                        class="block">
                                        <img alt="" src="/images/lifestyle/woman-in-coffee-shop.jpg">
                                    </a>
                                    <div class="feature__body boxed boxed--border">
                                        <h5>Why Every Small Business Needs A Website</h5>
                                        <a href="/articles/why-every-business-needs-a-website.html"
                                            title="Queens Web Design - Why Every Small Business Needs A Website"
                                            class="iconLink iconLink--arrow block">
                                            Read Article
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="/articles/seo-101.html" title="Queens Web Design - How to benefit from SEO"
                                        class="block">
                                        <img alt="" src="/images/services/seo.jpg">
                                    </a>
                                    <div class="feature__body boxed boxed--border">
                                        <h5>How SEO Can Benefit Your Business</h5>
                                        <a href="/articles/seo-101.html"
                                            title="Queens Web Design - How to benefit from SEO"
                                            class="iconLink iconLink--arrow block">
                                            Read Article
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                        </div>
                        <!--end of masonry container-->

                    </div>
                    <!--end masonry-->
                </div>
            </div>
            <div class="row">

            </div>
            <p class="lead cta">
                If you are interested in learning more about how Queens Web Design can help your business feel free to
                call us at {{> ../partials/globals/phone-link}} and mention this webpage and receive an exclusive
                savings on any of our services.
            </p>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    {{> ../partials/globals/footer}}
</div>

{{> ../partials/globals/closing }}