{{> ../partials/globals/head title="Queens Web Design - Queens Graphic Design" description="Queens Web Design is a graphic design and web design company in Queens, NY specializing in providing local businesses with affordable websites, web design and logo design." name="home"}}
<div class="main-container">
    {{> ../partials/components/home/home-hero }}

    {{> ../partials/components/home/services }}

    {{> ../partials/components/home/affordable-sites }}

    {{> ../partials/components/home/work }}

    {{> ../partials/components/home/about }}

    {{> ../partials/components/home/contact }}

    {{> ../partials/globals/footer}} 
</div>

{{> ../partials/globals/closing }}
