
{{#> 
    ../partials/layouts/wrapper 
    title="Homepage" 
    description="Queens Web Design"
    home="home"
}}

{{#*inline "main-content-block"}}
     <i class="icon icon-Pantone icon--lg"></i>
      <i class="stack-basket"></i>
      <i class="socicon-8tracks"></i>
    <div>Hello, world 1282 WOW!</div>
    <img src="/images/sample.jpg" alt="">
{{/inline}}

        
{{/../partials/layouts/wrapper}}
