{{> ../partials/globals/head title="Queens Web Design | Queens Mobile App Design | iOS and Android App Design" description="Mobile app design and development services for iOS and Android in Queens, New York." name="mobile-app"}}
<div class="main-container">
    {{> ../partials/components/mobile-app/mobile-app-content}}

    {{> ../partials/globals/footer}}
</div>

{{> ../partials/globals/closing }}