{{> ../partials/globals/head title="Become An Outsource Partner - Web Development and Mobile App Design" description="Submit an application to become a provider of web development and mobile app services" name="partners"}}
<div class="main-container">
    {{> ../partials/components/partners/partners-content}}

    {{> ../partials/globals/footer}}
</div>

{{> ../partials/globals/closing }}