{{> ../partials/globals/head title="Queens, Long Island Web Design and Web Development Instruction and Lessons | Learn Photoshop in Queens and Long Island" description="Web design lessons, tutoring and private instruction on HTML, CSS, JavaScript and Photoshop in Queens and Long Island" name="wdlessons" article="true" hasAds="true"}}
<div class="main-container" data-shareable="true">
    {{> ../partials/components/web-design-lessons/wd-lessons-content}}

    {{> ../partials/globals/footer}}
</div>

{{> ../partials/globals/closing }}