{{> ../partials/globals/head title="Queens Web Design | Web Development and Mobile App Design Work Examples" description="Web design, web development and mobile app examples in Queens, NY." name="work"}}
<div class="main-container">
    {{> ../partials/components/work/work-content}}

    {{> ../partials/globals/footer}}
</div>

{{> ../partials/globals/closing }}