<div class="modal-container" data-modal-index="1">
            <div class="modal-content section-modal">
                <section class="unpad ">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="boxed boxed--lg bg--white feature text-left">
                                    <div class="modal-close modal-close-cross"></div>
                                    <h3 class="color--primary">Queens Web Design Professional Design</h3>
                                    
                                    <div class="feature__body">
                                         <p class="fullWidth">Every site is custom designed to the look and feel of your company focusing on promoting your business and presenting a great user experience for your customers. We provide static design mockups<sup></sup> showcasing the look and feel of your web pages before we start building the site to ensure it meets your expectations. <br><br> Additionally, the layout of the site is made responsive so it functions and displays nicely no matter the device. </p>
                                       
                                       <p>Additional features available at request.</p>
                                       <p><small class="inline-block">* The amount of static mockups and fidelity of the mockups provided varies from project to project.</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
    </div>