<div class="modal-container" data-modal-index="2">
            <div class="modal-content section-modal">
                <section class="unpad ">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="boxed boxed--lg bg--white feature text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <h3 class="color--primary">Queens Web Design Website Features</h3>
                                    
                                    <div class="feature__body">
                                        <h4>Professional Out of the Box Features</h4>
                                         <p>All basic sites come equipped with all the standard features you'd expect such as:</p>
                                         <div class="row list-container">
                                         <div class="col-md-12">
                                        <ul class="bullets text-left">
                                            <li>Photo Galleries</li>
                                            <li>Slideshows</li>
                                            <li>Video Integration</li>
                                            <li>Carousels</li>
                                            <li>Contact Forms</li>
                                             <li>Google Maps</li>
                                            <li>Detailed Services Pages</li>
                                            <li>Blog Section</li>
                                            <li>FAQs</li>
                                            <li>Social Media Integration</li>
                                            </ul>
                                            </div>
                                           </div>
                                       <p>Additional features available at request.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
    </div>