<div class="modal-container" data-modal-index="0">
            <div class="modal-content section-modal">
                <section class="unpad ">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="boxed boxed--lg bg--white feature text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <h3 class="color--primary">Queens Web Design<br> Website Setup and Launch</h3>
                                    
                                    <div class="feature__body">
                                        <h4>Complete Website Setup</h4>
                                         <p>We'll handle all the technical details so you can focus on running your business.</p>
                                         <div class="row list-container">
                                         <div class="col-md-12">
                                        <ul class="bullets text-left">
                                            <li>Securing web hosting<sup>*</sup> from a hosting provider.</li>
                                            <li>Registering your chosen domain names<sup>*</sup>.</li>
                                            <li>Setting up the hosting server where your website will live.</li>
                                            <li>Installing any needed software, SSLs and tools.</li>
                                            <li>File migration and pushing your website live.</li>
                                            <li>Testing & monitoring the site to make sure it is running smoothly </li>
                                            </ul>
                                            </div>
                                           </div>
                                       <p>Additional features available at request.</p>
                                       <p class="text-left"><small class="inline-block">* Actual hosting subscription and yearly domain name fees are provided by a third party hosting provider and paid directly to that provider. The hosting provider can be of your choosing or a provider we are happy to recommend.</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
    </div>