 <section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1"> 
     {{!-- without pipe in between 2nd and 3rd values prevents animating of gradient --}}
        <div class="container">
            <div class="cta cta--horizontal text-center row">
                <div class="col-md-12">
                    <h4>Are you a small business owner in Queens or Long Island?</h4>
                    <p class="lead unmarg--bottom">
                        Let's get started building a beautiful website for your business.
                        </p>
                    <p class="phone-email-sent">Call us today at {{> ../../../globals/phone-link}}</p>
                </div>
                
            </div>
        </div>
        <!--end of container-->
</section>   