 <section class="space--xs imagebg" data-gradient-bg="#000,#111|#333,#555" id="article-bottom-cta-2">
     <canvas width="1368" height="146"></canvas>
        <div class="container">
            <div class="cta cta--horizontal inverse row">
                
                <div class="col-md-3">
                    <figure class="col-11 unmarg--bottom">
                        <img alt="laptop and desktop computer on desk" src="/images/services/website-on-desk.png">
                        <figcaption>Credit: @domenicoloia on Unsplash</figcaption>
                    </figure>
                </div>
                
                <div class="col-md-9">
                    <h4>Are you a small business owner in Queens or Long Island?</h4>
                    <p class="lead unmarg--bottom">
                        Let's get started building a beautiful website for your business.
                        </p>
                    <p><a class="link--decoration" href="#">Call us today: {{> ../../../globals/phone-number }}</a></p>
                </div>
                
            </div>
        </div>
        <!--end of container-->
</section>             
