 <div class="article__share text-center">
    <a class="btn bg--twitter btn--icon btn--xs" href="#" target="_blank">
        <span class="btn__text">
            <i class="socicon socicon-twitter"></i>
            Share 
        </span>
    </a>
    <div class="fb-share-button" data-href="" data-layout="button" data-size="large">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
    </div>
   
</div>
