<div class="row justify-content-center">
        <div class="col-12">
            <div class="process-1">
                <div class="process__item">
                    <h4 class="type--bold">A Good First Impression<br> With Your Homepage</h4>
                    <p>
                         Website visitors want to get clear, concise information quickly. Your website's homepage should be well designed, communicate what your business is and promote its unique value immediately when a visitor lands on your site. An effective homepage aims to spark interest for your services and makes it easy for a visitor to take action. 
                    </p>
                </div>
                <div class="process__item">
                    <h4 class="type--bold">Easy To Use, Accessible &<br> Persistent Navigation</h4>
                    <p>
                        One of the most important features of any website is the navigation &mdash; the means by which a user can access all of your website content. Navigation should be simple, organized and persist in behavior, and design throughout all sections of the site. 
                    </p>
                </div>
                <div class="process__item">
                    <h4 class="type--bold">Clear Calls to Action</h4>
                    <p>
                        Regardless of whether your website's goal is to sell a product, prompt visitors to call you for more information, or generate sales leads, your site should feature a well-written, attention grabbing call to action that is prominently displayed at all times throughout a visitor's journey on your site.
                    </p>
                </div>
                <div class="process__item">
                    <h4 class="type--bold">Easily Accessible<br> Contact Information</h4>
                    <p>
                        If a prospective customer can't get in touch with you, then what's the point of having a website anyway? At any time throughout a user's visit on your website, they should be able to easily access your contact information. Besides having a dedicated contact page that links from the main navigation, your phone number and/or email address should be displayed in the site header and footer.
                    </p>
                </div>
                <div class="process__item">
                    <h4 class="type--bold">Emphasize Your Location</h4>
                    <p>
                       Local customers will more than likely use the name of the city or town they reside in when searching for a local service online. One way to ensure your website ranks for these local keyword searches is to sprinkle mentions of the city, neighborhood or town your business resides in throughout your site. This can easily be added within page titles, headlines and body copy.
                    </p>
                </div>
                <div class="process__item">
                    <h4 class="type--bold">Professional, Modern<br> Design & Layout</h4>
                    <p>
                        The overall design (look and feel) and usability of your site will directly speak to your business credibility in the eyes of many visitors. If your site is outdated, difficult to read, disorganized and doesn't function as a user would expect, chances are they are going to leave your site and look for someone else. Visual characteristics like color choices, typography, graphics and having organized page layouts can make or break a site.
                    </p>
                </div>
        
                <div class="process__item">
                    <h4 class="type--bold">Useful, Interactive Content</h4>
                    <p>
                        This is where your business can flex its industry expertise and knowledge by featuring articles, videos, photo galleries, slideshows and FAQS. Creating engaging content that is geared towards your service expertise and also includes targeted keywords goes a long way in not only helping your search engine ranking but also adds appeal and credibility to your business.
                    </p>
                </div>
                   <div class="process__item">
                    <h4 class="type--bold">Dedicated Services,<br> About Us Pages</h4>
                    <p>
                       Website users are conditioned to look for links within the site navigation for about us, services or product specific pages when they land on a website. Your small business website should feature dedicated pages for each of these pages that are linked from your website's main navigation.
                    </p>
                </div>
                 <div class="process__item">
                    <h4 class="type--bold">Effective Backlinks</h4>
                    <p>
                       A good way to create synergy between all your digital channels is to link to all other websites and platforms that feature your business. This could be social media pages, blogs, other business/partner sites, news articles or any other website that mentions your business. A good place to display these links could be your contact page, within the site footer or on a dedicated resources page.
                    </p>
                </div>
             
                <div class="process__item">
                    <h4 class="type--bold">Testimonials, Accolades,<br> Customer Reviews</h4>
                    <p>
                        Your website should easily allow your visitors to view not only the products and services it offers but also the exact solutions and processes it implements to achieve results and create value. A good way to do this is by creating pages that displays customer testimonials, examples of your work and products, case studies, positive reviews from Google, social media, Yelp, etc. 
                    </p>
                </div>
                <div class="process__item">
                    <h4 class="type--bold">Be Warm and Inviting</h4>
                    <p>
                        One of the easiest ways to appeal to a site visitor is to welcome questions and feedback. Many users will happen to stumble upon your website trying to learn more about a particular service and they want to feel confident that if they can contact you to learn more someone will take the time to answer their questions. An easy way to create this confidence is to use language that is inviting, helpful and friendly.
                    </p>
                </div>
            </div>
            
            <!--end process-->
        </div>
</div>