<section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="typed-headline">
                                <h1 class="inline-block" style="font-size:32px;"><span class="type--bold">Queens</span> <span class="color--primary type--bold">Web</span>  <span class="color--secondary type--bold">Design</span> helps local businesses 
                                 <span class="inline-block typed-text typed-text--cursor" 
                                 data-typed-strings="engage audiences.,target customers.,convert visitors.,establish their digital prescence.,market services.,communicate with customers.,manage their website.,standout."></span>
                                </h1>
                              
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
          <!--end of container-->
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3>Examples of Web Design and Development Work</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row masonry--active">
                    
                    
                    {{!--  --}}
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Tent Rental in Long Island">
                                <img alt="" class="border--round" alt="Homepage of Sky Tent Rentals and Inflatables Website"
                                    src="/images/work/legacy/skytent.jpg">
                            </a>
                            <h4>Web Design For Outdoor Rentals in Long Island</h4>
                        </div>
                    </div>
                    <!--end item-->
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Hardware Store in Manhattan">
                                <img alt="" class="border--round" alt="Homepage of Harold C. Wolff Hardware Website"
                                    src="/images/work/legacy/hcwolff.jpg">
                            </a>
                            <h4>Web Design For Hardware Store in Manhattan</h4>
                        </div>
                    </div>
                    <!--end item-->
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Development For Long Island Product Manufacturer">
                                <img alt="" class="border--round" alt="Homepage of Website Tombstone City Website"
                                    src="/images/work/legacy/tombstone.jpg">
                            </a>
                            <h4>Web Development For Long Island Product Manufacturer</h4>
                        </div>
                    </div>
                    <!--end item-->
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Queens Small Business Awards Contest">
                                <img alt="" class="border--round" alt="Homepage of Website for the Small Business Achievement Awards Contest"
                                    src="/images/work/legacy/small-biz-awards.jpg">
                            </a>
                            <h4>Web Design For Queens Small Business Awards Contest</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Queens Publishing Company">
                                <img alt="" class="border--round" alt="Homepage of Queens Press Website"
                                    src="/images/work/legacy/queenspress.jpg">
                            </a>
                            <h4>Web Design For Queens Publishing Company</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Non For Profit in Long Island Web Development">
                                <img alt="Homepage of Gold Coast Arts Center Website" class="border--round"
                                    src="/images/work/legacy/goldcoastarts.jpg">
                            </a>
                            <h4>Non For Profit in Long Island Web Development</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Day Care in Queens">
                                <img alt="" class="border--round" alt="Homepage of NAPH Dunamis Care Website"
                                    src="/images/work/legacy/naph.jpg">
                            </a>
                            <h4>Web Design For Day Care in Queens</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design Fire Prevention and Store in Queens">
                                <img alt="" class="border--round" alt="Homepage of Major Fire Protection Corp Website"
                                    src="/images/work/legacy/majorfire.jpg">
                            </a>
                            <h4>Web Design Fire Prevention and Store in Queens</h4>
                        </div>
                    </div>
                    <!--end item-->
                    
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Queens Financial Company Website Presentation Design">
                                <img alt="" class="border--round"
                                    src="/images/work/legacy/ipc.jpg">
                            </a>
                            <h4>Queens Financial Company Website Presentation Design</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Chiropractor in Queens">
                                <img alt="Homepage of Spinal Correction Website" class="border--round"
                                    src="/images/work/legacy/drdom.jpg">
                            </a>
                            <h4>Web Design For Chiropractor in Queens</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For Long Island Bar and Winery">
                                <img alt="Homepage of Dove Frams Website" class="border--round"
                                    src="/images/work/legacy/dovefarms.jpg">
                            </a>
                            <h4>Web Design For Long Island Bar and Winery</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design For School in Queens">
                                <img alt="Homepage of Darul Uloom New York Website" class="border--round"
                                    src="/images/work/legacy/darululoomny.jpg">
                            </a>
                            <h4>Web Design For School in Queens</h4>
                        </div>
                    </div>
                    <!--end item-->    
                  
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Website For Queens Restaurant">
                                <img alt="Homepage of The Singing Crab Cajun Bayou Restaurant Website" class="border--round"
                                    src="/images/work/legacy/crab.jpg">
                            </a>
                            <h4>Website For Queens Restaurant</h4>
                        </div>
                    </div>
                    <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Website For Long Island for NYC Football Game">
                                <img alt="Homepage of United Healthcare Empire Challenge" class="border--round"
                                    src="/images/work/legacy/boomer.jpg">
                            </a>
                            <h4>Website For Long Island Football Game</h4>
                        </div>
                    </div>
                    <!--end item-->
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design for Queens Beauty Salon">
                                <img alt="Beatrice's Spa and Beauty Salon Homepage" class="border--round"
                                    src="/images/work/legacy/beatrice.jpg">
                            </a>
                            <h4>Web Design for Queens Beauty Salon</h4>
                        </div>
                    </div>
                    <!--end item-->
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Queens Product Showcase Web Design">
                                    <img alt="allergease website" class="border--round"
                                        src="/images/work/legacy/allegrease.jpg">
                                </a>
                                <h4>Product Showcase Web Design</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Design for Queens Jewelry Store">
                                <img alt="" class="border--round" alt="Homepage Silver Spark Jewelry Website"
                                    src="/images/work/legacy/jewelery.jpg">
                            </a>
                            <h4>Web Design for Queens Jewelry Store</h4>
                        </div>
                    </div>
                    <!--end item--> 
                    <div class="masonry__item col-lg-3 col-md-6 text-center">
                        <div class="project-thumb">
                            <a href="#" data-lightbox="example" title="Web Development For Queens Travel Agency">
                                <img alt="" class="border--round" alt="Homepage of Europe Travel Website"
                                    src="/images/work/legacy/travel-europe.jpg">
                            </a>
                            <h4>Web Development For Queens Travel Agency</h4>
                        </div>
                    </div>
                    <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Long Island Railroad Union Website Design">
                                    <img alt="Long Island Railroad Union BRS56 Website" class="border--round"
                                        src="/images/work/brs56.jpg">
                                </a>
                                <h4>Website For Long Island Railroad Union</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Ecommerce Website in Queens">
                                    <img alt="Homepage of A Big Sellers website" class="border--round"
                                        src="/images/work/abigsellers.jpg">
                                </a>
                                <h4>Queens Ecommerce Website</h4>
                            </div>
                        </div>
                        
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Electrician Website Design in Queens">
                                    <img alt="IBEW589 Long Island Railroad Union Website" class="border--round"
                                        src="/images/work/ibew589.jpg">
                                </a>
                                <h4>Website for NYC Electrician Union</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Travel Website Design in Queens">
                                    <img alt="4 Points Travel website homepage" class="border--round"
                                        src="/images/work/4pointstravel.jpg">
                                </a>
                                <h4>Queens Travel Agent Website</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Moving Company Website Design in Queens">
                                    <img alt="Two Girls Many Hats website homepage" class="border--round"
                                        src="/images/work/twogirls.jpg">
                                </a>
                                <h4>Website for Moving Company in Queens</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Furniture Store Website Design in Queens">
                                    <img alt="Homepage of Prestige Furniture website" class="border--round"
                                        src="/images/work/prestige-furniture.jpg">
                                </a>
                                <h4>Queens Furniture Store Web Design</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Web Design for Newspaper in Queens">
                                    <img alt="Homepage of Queens Tribune and Queens Press websites"
                                        class="border--round" src="/images/work/queens-newspaper-web-design.jpg">
                                </a>
                                <h4>Web Design for Queens Newspaper</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example"
                                    title="Band Websites and Website for Musicians in Queens">
                                    <img alt="Homepage of guitar website" class="border--round"
                                        src="/images/work/guitar-website-design.jpg">
                                </a>
                                <h4>Queens Music Website Design</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Website for Non For Profit in Queens">
                                    <img alt="Homepage of Gold Coast International Film Festival website"
                                        class="border--round" src="/images/work/goldcoastfilm.jpg">
                                </a>
                                <h4>Website for Long Island Non For Profit</h4>
                               
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Website for Bakery in Queens">
                                    <img alt="Homepage of Queens bakery website " class="border--round"
                                        src="/images/work/monata.jpg">
                                </a>
                                <h4>Website for Queens Bakery</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Political Website in Queens">
                                    <img alt="Homepage for Kamal Hubbard's website" class="border--round"
                                        src="/images/work/kamalh.jpg">
                                </a>
                                <h4>Queens Political / Activist Web Design</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Website Design for Long Island Teacher's Union">
                                    <img alt="Homepage of Half Hollow Hills Website" class="border--round"
                                        src="/images/work/legacy/hhhta.jpg">
                                </a>
                                <h4>Website Design for Long Island Teacher's Union</h4>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-lg-3 col-md-6 text-center">
                            <div class="project-thumb">
                                <a href="#" data-lightbox="example" title="Promotional Careers Website">
                                    <img alt="Homepage Verizon Careers Website" class="border--round"
                                        src="/images/work/legacy/vzCollege.jpg">
                                </a>
                                <h4>Promotional Careers Website</h4>
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
    </div>
    <!--end of container-->
</section>