<section class="text-center imagebg space--lg" data-overlay="6" id="hero">
                <div class="background-image-holder">
                    <img alt="background" src="https://images.unsplash.com/photo-1554364523-59b184311d92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="h1--large extra-bold">Web Design & Web Development Lessons in Queens and Long Island</h1>
                            <p class="h3">
                                Flexible, affordable online lessons with an expert instructor for learning and improving your web design, web development and graphic design skills. <br><br>
                                Rates start as low as <sup>$</sup>30 per session<sup class="footnote">1</sup>.                       
                            </p>
                            <p class="h3 cta">Call us at <a class="color--secondary type--bold" href="tel:{{> ../../globals/phone-number}}">{{> ../../globals/phone-number}}</a> or <a class="color--secondary type--bold" href="mailto:{{> ../../globals/email-address }}">email us</a> to learn more.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>Helpful sessions tailored to your needs.</h2>
                <p class="lead">
                   Whether it's learning the basics, mastering advanced topics or help with a particular project, sessions are tailored to what you want and how you want to learn.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center unpad--bottom">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="feature feature-6">
                <i class="icon icon--lg icon-Skype color--primary"></i>
                <h4>Online Sessions</h4>
                <p>
                    All sessions take place online with your instructor usually through Webex or Skype and typically last about 45-minutes. Sessions longer in duration can be arranged.
                </p>
            </div>
            <!--end feature-->
        </div>
        <div class="col-md-4">
            <div class="feature feature-6">
                    <i class="icon icon--lg icon-Robot-2 color--primary"></i>
                <h4>Don't be a Robot, Build a Robot</h4>
                <p>
                    Sessions will aim to get you building stuff right away. Since the best way to learn is by doing, you will build projects that utilize real world professional techniques and code snippets.
                </p>
                
            </div>
            <!--end feature-->
        </div>
        <div class="col-md-4">
            <div class="feature feature-6">
                <i class="icon icon--lg icon-Light-Bulb color--primary"></i>
                <h4>Be Inspired</h4>
                <p>
                    With over a decade and a half experience in web design, programming and digital graphics, get practical, professional advice and tons of resources for your career or business.
                </p>
            </div>
            <!--end feature-->
        </div>
        <div class="col-md-4">
            <div class="feature feature-6">
                    <i class="icon icon--lg icon-Students color--primary"></i>
                <h4>Ideal for Students & Beginners</h4>
                <p>
                   Beginners will learn the fundamentals by creating cool stuff. If you are web development or design student, sessions can be focused on your course work and projects. Also students are elgible for a <strong>reduced session rate<sup class="footnote">2</sup></strong>.
                </p>
            </div>
            <!--end feature-->
        </div>
        <div class="col-md-4">
            <div class="feature feature-6">
                <i class="icon icon--lg icon-Life-Safer color--primary"></i>
                <h4>Support for your Projects</h4>
                <p>
                    Need help solving a particular coding problem, completing a design or just need general software help? Let us take a crack at it. We will diagnose and analyze your issue for <strong>FREE</strong> and you will only be charged if we solve the issue<sup class="footnote">3</sup>.
                </p>
            </div>
            <!--end feature-->
        </div>
        <div class="col-md-4">
            <div class="feature feature-6">
                <i class="icon icon--lg icon-Love-Window color--primary"></i>
                <h4>Quick Website Love</h4>
                <p>
                    Does your website need some love? Whether something on your website needs fixing or you just need help getting a site up and running, get quick and friendly assitance without paying the typical outrageous agency fees<sup class="footnote">3</sup>.
                </p>
            </div>
            <!--end feature-->
        </div>
    </div>
    <!--end of row-->
</div>
<!--end of container-->
 </section>
 <section class="bg--lightGray">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-10">
                <h2>Learn how to build and design websites&nbsp;<br> and other digital projects.</h2>
                <p class="lead">
                    Affordable, online lessons and instruction on web design, front-end development, programming, digital graphics, website building and content management.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row justify-content-center mt--2">
            <div class="col-lg-6">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon--lg icon-Duplicate-Window color--primary"></i>
                    <div class="feature__body">
                        <h5>Web Design and User Experience</h5>
                        <p>
                            Learn how to design mobile first responsive websites, utilize UX best practices and create mockups and wireframes with various UX software.
                        </p>
                    </div>
                </div>
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon--lg icon-Coding color--primary"></i>
                    <div class="feature__body">
                        <h5>HTML/CSS/JS</h5>
                        <p>
                            Beginner to advanced lessons on HTML5, CSS3, JavaScript, frameworks and libraries like jQuery, React and Angular.
                        </p>
                    </div>
                </div>
                <!--end feature-->
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon--lg icon-Wizard color--primary"></i>
                    <div class="feature__body">
                        <h5>Photoshop & Graphic Design</h5>
                        <p>
                            Improve your skills using various Adobe software such as Photoshop, Illustrator, In Design and Animate. 
                        </p>
                    </div>
                </div>
                <!--end feature-->
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon--lg icon-Wordpress color--primary"></i>
                    <div class="feature__body">
                        <h5>WordPress & Content Management</h5>
                        <p>
                            Learn the fundamentals in creating, managing and launching websites and blogs using WordPress.
                        </p>
                    </div>
                </div>
                <!--end feature-->
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon--lg icon-Laptop-Phone color--primary"></i>
                    <div class="feature__body">
                        <h5>Putting It All Together</h5>
                        <p>
                            Use all your knowledge and skills to build a web project from initial concept to design to development and all the way to deployment.
                        </p>
                    </div>
                </div>
                <!--end feature-->
                <p class="h3 cta">Call us at <a class="color--primary type--bold" href="tel:{{> ../../globals/phone-number}}">{{> ../../globals/phone-number}}</a> or <a class="color--primary type--bold" href="mailto:{{> ../../globals/email-address }}">email us</a> for a <span class="type--bold">FREE Consultation</span> to see how we can help you.</p>
                <div class="footnote mt--2">
                     <p class="type--fine-print"><span>1</span> <span> <span>$30 per session rate when you sign up and pay for 8 or more sessions in advance.</span></p>
                    <p class="type--fine-print"><span>2</span> <span>Eligible for students currently enrolled in a college or university and can provide proof of enrollment in writing.</span></p>
                    <p class="type--fine-print"><span>3</span> Rates vary and are calculated after initial diagnosing of the particular issue or request is completed.</span></p>
                </div>
               
            </div>
          <div class="col-lg-10">
                {{> ../articles/includes/social-sharing}}
          </div>
        </div>
    </div>
    <!--end of container-->
</section>
